doctype html
html
  head
    meta(charset='utf-8')
    meta(content='initial-scale=1,minimum-scale=1,width=device-width',name='viewport')
    link(href='app.css',rel='stylesheet')
    title NCKU Web Design
  body
    #v-app
    script(src='app.js')
